<settings>
    <setting id="skinhelper.enabledaynightthemes" type="bool">false</setting>
    <setting id="widget1_content_likedsongs" type="bool">false</setting>
    <setting id="gridview_enabled_addons" type="bool">false</setting>
    <setting id="showcaseview_enabled_addons" type="bool">false</setting>
    <setting id="crop_clearlogos" type="bool">false</setting>
    <setting id="widget4_content_nextup" type="bool">false</setting>
    <setting id="widget9_content_latestalbums" type="bool">false</setting>
    <setting id="billboardview_enabled_addons" type="bool">false</setting>
    <setting id="widget2_content_likedsongs" type="bool">false</setting>
    <setting id="stripview_enabled_pictures" type="bool">false</setting>
    <setting id="list_prefer_keyart" type="bool">false</setting>
    <setting id="widget3_content_disabled" type="bool">false</setting>
    <setting id="disable_hidden_menu" type="bool">false</setting>
    <setting id="tmdbbingiehelper.disableartwork" type="bool">false</setting>
    <setting id="preferred_rating_mpaa" type="bool">false</setting>
    <setting id="widget9_content_nextup" type="bool">false</setting>
    <setting id="experiment_gridview_fanart_pictures" type="bool">false</setting>
    <setting id="widget6_content_nextup" type="bool">false</setting>
    <setting id="trailer_autoplay" type="bool">false</setting>
    <setting id="background_label_enabled" type="bool">false</setting>
    <setting id="widget3_content_randomtvshows" type="bool">false</setting>
    <setting id="widget5_content_randomalbums" type="bool">false</setting>
    <setting id="tmdbbingiehelper.enableblur" type="bool">false</setting>
    <setting id="widget1_content_nextup" type="bool">false</setting>
    <setting id="prefer_timeremaining" type="bool">false</setting>
    <setting id="strip_prefer_keyart" type="bool">false</setting>
    <setting id="widget4_content_favourites" type="bool">false</setting>
    <setting id="experiment_parentdir_ifemptycontainer" type="bool">false</setting>
    <setting id="widget4_content_latestalbums" type="bool">false</setting>
    <setting id="quick_home_disabled" type="bool">false</setting>
    <setting id="widget8_content_disabled" type="bool">true</setting>
    <setting id="widget4_content_inprogress" type="bool">false</setting>
    <setting id="gridview_altwatchedstatus_enabled" type="bool">false</setting>
    <setting id="widget4_content_latesttvshows" type="bool">true</setting>
    <setting id="gridview_enabled" type="bool">false</setting>
    <setting id="widget8_autoscroll" type="bool">false</setting>
    <setting id="widget9_content_latestmovies" type="bool">false</setting>
    <setting id="tmdbbingiehelper.service" type="bool">false</setting>
    <setting id="widget6_content_randomalbums" type="bool">false</setting>
    <setting id="widget4_content_custom" type="bool">false</setting>
    <setting id="widget5_content_latestmovies" type="bool">false</setting>
    <setting id="widget2_content_nextup" type="bool">true</setting>
    <setting id="widget1_content_recentalbums" type="bool">false</setting>
    <setting id="widget6_content_latesttvshows" type="bool">false</setting>
    <setting id="widget4_content_randommovies" type="bool">false</setting>
    <setting id="widget3_content_latesttvshows" type="bool">false</setting>
    <setting id="tmdbbingiehelper.disableextendedproperties" type="bool">false</setting>
    <setting id="widget4_content_randomtvshows" type="bool">false</setting>
    <setting id="quick_libreelec_menu_disabled" type="bool">false</setting>
    <setting id="tmdbbingiehelper.uselocalwidgetcontainer" type="bool">false</setting>
    <setting id="widget9_content_inprogress" type="bool">false</setting>
    <setting id="widget5_content_custom" type="bool">false</setting>
    <setting id="widget7_content_disabled" type="bool">true</setting>
    <setting id="preferred_rating_chvrs" type="bool">false</setting>
    <setting id="widget8_content_randomtvshows" type="bool">false</setting>
    <setting id="gridview_enabled_favouritesbrowser" type="bool">false</setting>
    <setting id="widget7_autoscroll" type="bool">false</setting>
    <setting id="widget2_autoscroll" type="bool">false</setting>
    <setting id="gridview_watchedstatus_enabled" type="bool">false</setting>
    <setting id="preferred_rating_eirin" type="bool">false</setting>
    <setting id="widget8_content_nextup" type="bool">false</setting>
    <setting id="widget6_content_custom" type="bool">false</setting>
    <setting id="widget2_content_favourites" type="bool">false</setting>
    <setting id="widget9_content_randomtvshows" type="bool">false</setting>
    <setting id="widget6_content_favourites" type="bool">false</setting>
    <setting id="showcaseview_enabled" type="bool">false</setting>
    <setting id="widgets_enabled" type="bool">false</setting>
    <setting id="widget1_content_randomalbums" type="bool">false</setting>
    <setting id="widget1_content_disabled" type="bool">false</setting>
    <setting id="widget5_content_randomtvshows" type="bool">false</setting>
    <setting id="widget3_content_nextup" type="bool">false</setting>
    <setting id="widget1_content_randommovies" type="bool">false</setting>
    <setting id="widget5_autoscroll" type="bool">false</setting>
    <setting id="prefer_white_plot_color" type="bool">false</setting>
    <setting id="widget6_content_recentalbums" type="bool">false</setting>
    <setting id="preferred_rating_kijkwijzer" type="bool">false</setting>
    <setting id="widget1_content_randomtvshows" type="bool">false</setting>
    <setting id="infoscreen_widget_prefer_tmdbhelper" type="bool">false</setting>
    <setting id="widget4_content_likedsongs" type="bool">false</setting>
    <setting id="multiart_slideshow" type="bool">false</setting>
    <setting id="widget5_content_inprogress" type="bool">false</setting>
    <setting id="run_set_default" type="bool">false</setting>
    <setting id="grid_prefer_landscape" type="bool">false</setting>
    <setting id="video_breadcrumb_disabled" type="bool">false</setting>
    <setting id="widget6_content_inprogress" type="bool">false</setting>
    <setting id="music_player_enabled" type="bool">false</setting>
    <setting id="experiment_listview_prefer_landscape" type="bool">false</setting>
    <setting id="widget2_content_recentalbums" type="bool">false</setting>
    <setting id="widget5_content_disabled" type="bool">true</setting>
    <setting id="widget5_content_recentalbums" type="bool">false</setting>
    <setting id="tmdbbingiehelper.enablecolors" type="bool">false</setting>
    <setting id="widget7_content_randommovies" type="bool">false</setting>
    <setting id="widget2_content_latestmovies" type="bool">false</setting>
    <setting id="billboardview_enabled" type="bool">false</setting>
    <setting id="widget7_content_latesttvshows" type="bool">false</setting>
    <setting id="widget3_trailer_autoplay" type="bool">false</setting>
    <setting id="preferred_rating_fsk" type="bool">false</setting>
    <setting id="widget8_content_inprogress" type="bool">false</setting>
    <setting id="widget3_content_latestmovies" type="bool">true</setting>
    <setting id="sortletter_enabled" type="bool">false</setting>
    <setting id="tmdbbingiehelper.enablecrop" type="bool">false</setting>
    <setting id="widget3_content_randomalbums" type="bool">false</setting>
    <setting id="infoscreens_prefer_landscape" type="bool">false</setting>
    <setting id="preferred_rating_bbfc" type="bool">true</setting>
    <setting id="widget8_content_latestalbums" type="bool">false</setting>
    <setting id="star_ratings_disabled" type="bool">false</setting>
    <setting id="experiment_unwatched_info" type="bool">false</setting>
    <setting id="kiosk_mode" type="bool">false</setting>
    <setting id="widget7_content_custom" type="bool">false</setting>
    <setting id="widget4_autoscroll" type="bool">false</setting>
    <setting id="zero_transitions" type="bool">false</setting>
    <setting id="widget6_content_latestalbums" type="bool">false</setting>
    <setting id="widget7_content_randomtvshows" type="bool">false</setting>
    <setting id="widget2_trailer_autoplay" type="bool">false</setting>
    <setting id="widget2_content_randomalbums" type="bool">false</setting>
    <setting id="widget5_content_latesttvshows" type="bool">false</setting>
    <setting id="list_ken_burns_effect" type="bool">false</setting>
    <setting id="stripview_enabled_favouritesbrowser" type="bool">false</setting>
    <setting id="widget8_content_custom" type="bool">false</setting>
    <setting id="tmdbbingiehelper.enabledesaturate" type="bool">false</setting>
    <setting id="unwatched_indicator" type="bool">true</setting>
    <setting id="widget7_content_favourites" type="bool">false</setting>
    <setting id="quick_transitions" type="bool">false</setting>
    <setting id="colorise_flags" type="bool">false</setting>
    <setting id="widget9_content_latesttvshows" type="bool">false</setting>
    <setting id="widget7_trailer_autoplay" type="bool">false</setting>
    <setting id="stripview_enabled" type="bool">false</setting>
    <setting id="widget3_content_latestalbums" type="bool">false</setting>
    <setting id="widget2_content_latestalbums" type="bool">false</setting>
    <setting id="widget7_content_nextup" type="bool">false</setting>
    <setting id="widget6_content_randomtvshows" type="bool">false</setting>
    <setting id="widget5_content_likedsongs" type="bool">false</setting>
    <setting id="home_background_override_enabled" type="bool">false</setting>
    <setting id="widget6_content_randommovies" type="bool">false</setting>
    <setting id="widget5_content_randommovies" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="widget2_content_custom" type="bool">false</setting>
    <setting id="stripview_enabled_addons" type="bool">false</setting>
    <setting id="pause_screen_info_enabled" type="bool">false</setting>
    <setting id="showcaseview_enabled_pictures" type="bool">false</setting>
    <setting id="widget3_content_custom" type="bool">false</setting>
    <setting id="widget3_content_recentalbums" type="bool">false</setting>
    <setting id="widget3_content_likedsongs" type="bool">false</setting>
    <setting id="widget9_content_randomalbums" type="bool">false</setting>
    <setting id="widget1_autoscroll" type="bool">false</setting>
    <setting id="widget1_content_latestalbums" type="bool">false</setting>
    <setting id="widget1_content_custom" type="bool">false</setting>
    <setting id="widget1_content_latesttvshows" type="bool">false</setting>
    <setting id="visualisation_disable_background" type="bool">false</setting>
    <setting id="strip_prefer_landscape" type="bool">false</setting>
    <setting id="billboard_ken_burns_effect" type="bool">false</setting>
    <setting id="widget2_content_inprogress" type="bool">false</setting>
    <setting id="widget3_content_favourites" type="bool">false</setting>
    <setting id="preferred_rating_ifco" type="bool">false</setting>
    <setting id="widget6_autoscroll" type="bool">false</setting>
    <setting id="widget9_content_randommovies" type="bool">false</setting>
    <setting id="time_widget_persistent" type="bool">false</setting>
    <setting id="home_screensaver_clearlogo_enabled" type="bool">false</setting>
    <setting id="widget9_trailer_autoplay" type="bool">false</setting>
    <setting id="widget8_content_latesttvshows" type="bool">false</setting>
    <setting id="widget8_content_likedsongs" type="bool">false</setting>
    <setting id="widget9_content_recentalbums" type="bool">false</setting>
    <setting id="widget8_content_recentalbums" type="bool">false</setting>
    <setting id="widget2_content_disabled" type="bool">false</setting>
    <setting id="widget9_autoscroll" type="bool">false</setting>
    <setting id="widget8_content_favourites" type="bool">false</setting>
    <setting id="globalsearch_disabled" type="bool">false</setting>
    <setting id="widget6_content_disabled" type="bool">true</setting>
    <setting id="widget5_content_nextup" type="bool">false</setting>
    <setting id="widget2_content_randomtvshows" type="bool">false</setting>
    <setting id="shutdownmenu_shortcut" type="bool">false</setting>
    <setting id="home_screensaver_enabled" type="bool">false</setting>
    <setting id="widget7_content_randomalbums" type="bool">false</setting>
    <setting id="widget9_content_custom" type="bool">false</setting>
    <setting id="preferred_rating_djctq" type="bool">false</setting>
    <setting id="widget3_content_randommovies" type="bool">false</setting>
    <setting id="showcaseview_enabled_favouritesbrowser" type="bool">false</setting>
    <setting id="widget6_content_likedsongs" type="bool">false</setting>
    <setting id="showcase_prefer_keyart" type="bool">false</setting>
    <setting id="widget7_content_inprogress" type="bool">false</setting>
    <setting id="widget9_content_disabled" type="bool">true</setting>
    <setting id="widget9_content_favourites" type="bool">false</setting>
    <setting id="widget5_trailer_autoplay" type="bool">false</setting>
    <setting id="widget4_content_latestmovies" type="bool">false</setting>
    <setting id="widget6_content_latestmovies" type="bool">false</setting>
    <setting id="widget2_content_latesttvshows" type="bool">false</setting>
    <setting id="secondary_list_enabled" type="bool">false</setting>
    <setting id="widget7_content_latestalbums" type="bool">false</setting>
    <setting id="gridview_enabled_pictures" type="bool">false</setting>
    <setting id="widget3_content_inprogress" type="bool">false</setting>
    <setting id="widget5_content_favourites" type="bool">false</setting>
    <setting id="widget7_content_latestmovies" type="bool">false</setting>
    <setting id="widget5_content_latestalbums" type="bool">false</setting>
    <setting id="widget8_content_randommovies" type="bool">false</setting>
    <setting id="tmdbbingiehelper.disableratings" type="bool">false</setting>
    <setting id="widget3_autoscroll" type="bool">false</setting>
    <setting id="widget8_content_latestmovies" type="bool">false</setting>
    <setting id="widget6_trailer_autoplay" type="bool">false</setting>
    <setting id="player_progress_disabled" type="bool">false</setting>
    <setting id="grid_prefer_keyart" type="bool">false</setting>
    <setting id="widget1_content_inprogress" type="bool">true</setting>
    <setting id="widget1_trailer_autoplay" type="bool">false</setting>
    <setting id="widget4_content_recentalbums" type="bool">false</setting>
    <setting id="widget8_content_randomalbums" type="bool">false</setting>
    <setting id="widget7_content_likedsongs" type="bool">false</setting>
    <setting id="list_prefer_scrolling" type="bool">false</setting>
    <setting id="widget7_content_recentalbums" type="bool">false</setting>
    <setting id="widget2_content_randommovies" type="bool">false</setting>
    <setting id="widget4_trailer_autoplay" type="bool">false</setting>
    <setting id="widget4_content_disabled" type="bool">false</setting>
    <setting id="infoscreens_prefer_keyart" type="bool">false</setting>
    <setting id="preferred_rating_acb" type="bool">false</setting>
    <setting id="widget9_content_likedsongs" type="bool">false</setting>
    <setting id="quick_theme_switcher_disabled" type="bool">false</setting>
    <setting id="widget1_content_latestmovies" type="bool">false</setting>
    <setting id="widget8_trailer_autoplay" type="bool">false</setting>
    <setting id="widget4_content_randomalbums" type="bool">false</setting>
    <setting id="widget1_content_favourites" type="bool">false</setting>
    <setting id="tmdbhelper.service" type="bool">false</setting>
    <setting id="tmdbhelper.enablecrop" type="bool">false</setting>
    <setting id="tmdbhelper.enableblur" type="bool">false</setting>
    <setting id="tmdbhelper.enabledesaturate" type="bool">false</setting>
    <setting id="tmdbhelper.enablecolors" type="bool">false</setting>
    <setting id="listview_display_episodes" type="string">Background</setting>
    <setting id="billboardview_flags_movies" type="string">All</setting>
    <setting id="listview_details_songs" type="string">TitleAndInfo</setting>
    <setting id="widget4_custom_sortorder" type="string">ascending</setting>
    <setting id="listview_details_addons" type="string">TitleAndInfo</setting>
    <setting id="showcaseview_flags_episodes" type="string">All</setting>
    <setting id="gridview_details_programs_files" type="string">TitleAndInfo</setting>
    <setting id="billboardview_details_movies" type="string">All</setting>
    <setting id="globalsearch_artists_limit" type="string">30</setting>
    <setting id="listview_display_movies" type="string">Background</setting>
    <setting id="widget7_custom_sortorder" type="string">ascending</setting>
    <setting id="showcaseview_display_programs_files" type="string">Posters</setting>
    <setting id="gridview_details_seasons" type="string">TitleAndInfo</setting>
    <setting id="showcaseview_details_programs_files" type="string">All_Side</setting>
    <setting id="TMDbBingieHelper.Blur.Radius" type="string"></setting>
    <setting id="billboardview_details_artists" type="string">Title</setting>
    <setting id="listview_flags_episodes" type="string">All</setting>
    <setting id="billboardview_details_tvshows" type="string">All</setting>
    <setting id="showcaseview_details_sets" type="string">All_Side</setting>
    <setting id="widget5_custom_sortmethod_label" type="string">Name</setting>
    <setting id="widget3_custom_sortmethod_label" type="string">Name</setting>
    <setting id="stripview_logo_tvshows" type="string">Off</setting>
    <setting id="listview_display_albums" type="string">Thumbnails</setting>
    <setting id="gridview_display_programs_files" type="string">Fanart</setting>
    <setting id="showcaseview_flags_programs_files" type="string"></setting>
    <setting id="stripview_details_musicvideos" type="string">TitleAndInfo</setting>
    <setting id="widget4_custom_sortmethod" type="string">name</setting>
    <setting id="showcaseview_details_images" type="string">TitleAndInfo_Overlay</setting>
    <setting id="widget5_custom_sortorder" type="string">ascending</setting>
    <setting id="billboardview_details_episodes" type="string">All</setting>
    <setting id="listview_details_episodes" type="string">TitleAndInfo</setting>
    <setting id="billboardview_logo_sets" type="string">Off</setting>
    <setting id="widget7_custom_sortmethod_label" type="string">Name</setting>
    <setting id="widget9_custom_sortorder" type="string">ascending</setting>
    <setting id="gridview_display_movies" type="string">Fanart</setting>
    <setting id="widget3_custom_limit" type="string">20</setting>
    <setting id="widget9_custom_limit" type="string">20</setting>
    <setting id="stripview_details_tvshows" type="string">All</setting>
    <setting id="billboardview_logo_movies" type="string">Off</setting>
    <setting id="widget9_view" type="string">Strip</setting>
    <setting id="gridview_display_tvshows" type="string">Fanart</setting>
    <setting id="globalsearch_movies_limit" type="string">30</setting>
    <setting id="listview_display_programs_files" type="string">Thumbnails</setting>
    <setting id="showcaseview_details_albums" type="string">TitleAndInfo_Overlay</setting>
    <setting id="showcaseview_details_addons" type="string">TitleAndInfo_Overlay</setting>
    <setting id="listview_details_albums" type="string">TitleAndInfo</setting>
    <setting id="widget6_view" type="string">Strip</setting>
    <setting id="widget1_custom_sortmethod" type="string">name</setting>
    <setting id="widget9_custom_sortmethod" type="string">name</setting>
    <setting id="widget1_custom_sortorder" type="string">ascending</setting>
    <setting id="showcaseview_display_sets" type="string">Posters</setting>
    <setting id="stripview_flags_seasons" type="string">All</setting>
    <setting id="widget1_display" type="string">Fanart</setting>
    <setting id="widget5_custom_limit" type="string">20</setting>
    <setting id="showcaseview_logo_movies" type="string">Off</setting>
    <setting id="widget2_view" type="string">Strip</setting>
    <setting id="gridview_details_musicvideos" type="string">TitleAndInfo</setting>
    <setting id="showcaseview_flags_movies" type="string">All</setting>
    <setting id="stripview_details_albums" type="string">TitleAndInfo</setting>
    <setting id="osd_background_brightness" type="string">25</setting>
    <setting id="listview_display_plugin_empty" type="string"></setting>
    <setting id="widget4_view" type="string">Grid</setting>
    <setting id="widget8_view" type="string">Strip</setting>
    <setting id="stripview_display_albums" type="string">Square</setting>
    <setting id="infoscreen_brightness" type="string">50</setting>
    <setting id="stripview_logo_movies" type="string">Off</setting>
    <setting id="showcaseview_logo_artists" type="string">Off</setting>
    <setting id="listview_details_sets" type="string">TitleAndInfo</setting>
    <setting id="stripview_details_programs_files" type="string">TitleAndInfo</setting>
    <setting id="stripview_flags_episodes" type="string">All</setting>
    <setting id="widget8_custom_sortmethod_label" type="string">Name</setting>
    <setting id="AutoUpdate" type="string">off</setting>
    <setting id="widget3_custom_sortorder" type="string">ascending</setting>
    <setting id="background_brightness" type="string">33</setting>
    <setting id="gridview_details_albums" type="string">Off</setting>
    <setting id="music_rating_like_threshold" type="string"></setting>
    <setting id="gridview_details_tvshows" type="string">TitleAndInfo</setting>
    <setting id="showcaseview_flags_sets" type="string">All</setting>
    <setting id="background_low_threshold" type="string">65</setting>
    <setting id="time_widget" type="string">Clock</setting>
    <setting id="background_high_threshold" type="string">440</setting>
    <setting id="gridview_display_programs_folders" type="string">Posters</setting>
    <setting id="stripview_display_seasons" type="string">Posters</setting>
    <setting id="gridview_display_sets" type="string">Fanart</setting>
    <setting id="listview_flags_sets" type="string">All</setting>
    <setting id="stripview_details_artists" type="string">TitleAndInfo</setting>
    <setting id="listview_display_songs" type="string">Thumbnails</setting>
    <setting id="stripview_display_tvshows" type="string">Posters</setting>
    <setting id="background_opacity" type="string">75</setting>
    <setting id="widget2_custom_sortmethod_label" type="string">Name</setting>
    <setting id="widget7_custom_sortmethod" type="string">name</setting>
    <setting id="user_defined_accent_color" type="string"></setting>
    <setting id="gridview_display_artists" type="string">Square</setting>
    <setting id="stripview_flags_tvshows" type="string">All</setting>
    <setting id="stripview_details_seasons" type="string">TitleAndInfo</setting>
    <setting id="stripview_flags_sets" type="string">All</setting>
    <setting id="theme" type="string">Dark</setting>
    <setting id="billboardview_flags_seasons" type="string">All</setting>
    <setting id="listview_display_sets" type="string">Background</setting>
    <setting id="billboardview_logo_artists" type="string">Off</setting>
    <setting id="gridview_display_seasons" type="string">Fanart</setting>
    <setting id="showcaseview_logo_tvshows" type="string">Off</setting>
    <setting id="globalsearch_albums_limit" type="string">30</setting>
    <setting id="widget7_view" type="string">Strip</setting>
    <setting id="gridview_details_artists" type="string">TitleAndInfo</setting>
    <setting id="billboardview_details_musicvideos" type="string">Title</setting>
    <setting id="showcaseview_display_seasons" type="string">Posters</setting>
    <setting id="stripview_display_movies" type="string">Posters</setting>
    <setting id="showcaseview_logo_sets" type="string">Off</setting>
    <setting id="listview_details_movies" type="string">TitleAndInfo</setting>
    <setting id="Subtitle_Limiter" type="string"></setting>
    <setting id="widget2_display" type="string">Posters</setting>
    <setting id="widget1_view" type="string">Strip</setting>
    <setting id="skinhelper.colortheme.day.time" type="string"></setting>
    <setting id="trailer_autoplay_tvshows_enabled" type="string"></setting>
    <setting id="background_interval" type="string">10</setting>
    <setting id="billboardview_details_seasons" type="string">TitleAndInfo</setting>
    <setting id="widget5_display" type="string">Posters</setting>
    <setting id="globalsearch_episodes_limit" type="string">30</setting>
    <setting id="stripview_display_programs_files" type="string">Fanart</setting>
    <setting id="billboardview_details_sets" type="string">All</setting>
    <setting id="widget2_custom_sortmethod" type="string">name</setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="widget6_custom_limit" type="string">20</setting>
    <setting id="gridview_details_programs_folders" type="string">TitleAndInfo</setting>
    <setting id="showcaseview_details_artists" type="string">TitleAndInfo_Overlay</setting>
    <setting id="listview_details_seasons" type="string">TitleAndInfo</setting>
    <setting id="showcaseview_details_tvshows" type="string">All_Side</setting>
    <setting id="gridview_details_episodes" type="string">TitleAndInfo</setting>
    <setting id="listview_details_tvshows" type="string">TitleAndInfo</setting>
    <setting id="trailer_autoplay_movies_enabled" type="string"></setting>
    <setting id="gridview_size" type="string">Large</setting>
    <setting id="billboardview_flags_tvshows" type="string">All</setting>
    <setting id="showcaseview_display_programs_folders" type="string">Posters</setting>
    <setting id="stripview_logo_sets" type="string">Off</setting>
    <setting id="widget8_custom_limit" type="string">20</setting>
    <setting id="skinhelper.colortheme.night.time" type="string"></setting>
    <setting id="listview_details_images" type="string">TitleAndInfo</setting>
    <setting id="widget4_custom_limit" type="string">20</setting>
    <setting id="gridview_details_addons" type="string">Off</setting>
    <setting id="listview_flags_programs_files" type="string">All</setting>
    <setting id="widget4_custom_sortmethod_label" type="string">Name</setting>
    <setting id="widget6_display" type="string">Posters</setting>
    <setting id="billboardview_logo_tvshows" type="string">Off</setting>
    <setting id="TMDbBingieHelper.Date.Format" type="string"></setting>
    <setting id="billboardview_logo_programs_files" type="string">Off</setting>
    <setting id="gridview_details_images" type="string">Off</setting>
    <setting id="gridview_display_albums" type="string"></setting>
    <setting id="showcaseview_details_episodes" type="string">All_Side</setting>
    <setting id="listview_details_programs_files" type="string">TitleAndInfo</setting>
    <setting id="widget5_view" type="string">Strip</setting>
    <setting id="widget3_view" type="string">Billboard</setting>
    <setting id="globalsearch" type="string"></setting>
    <setting id="widget2_custom_sortorder" type="string">ascending</setting>
    <setting id="stripview_details_images" type="string"></setting>
    <setting id="widget7_custom_limit" type="string">20</setting>
    <setting id="widget2_custom_limit" type="string">20</setting>
    <setting id="widget4_display" type="string">Posters</setting>
    <setting id="showcaseview_flags_seasons" type="string">All</setting>
    <setting id="showcaseview_details_seasons" type="string">TitleAndInfo_Side</setting>
    <setting id="widget3_display" type="string">Fanart</setting>
    <setting id="billboardview_details_programs_files" type="string">All</setting>
    <setting id="listview_details_programs_folders" type="string"></setting>
    <setting id="widget1_custom_limit" type="string">20</setting>
    <setting id="multiart_interval" type="string">4</setting>
    <setting id="stripview_flags_movies" type="string">All</setting>
    <setting id="trailer_autoplay_interval" type="string">3</setting>
    <setting id="widget9_custom_sortmethod_label" type="string">Name</setting>
    <setting id="script-upnext_artwork" type="string">Fanart</setting>
    <setting id="stripview_display_artists" type="string">Fanart</setting>
    <setting id="listview_flags_movies" type="string">All</setting>
    <setting id="globalsearch_songs_limit" type="string">30</setting>
    <setting id="gridview_display_images" type="string"></setting>
    <setting id="widget6_custom_sortmethod_label" type="string">Name</setting>
    <setting id="billboardview_flags_programs_files" type="string">All</setting>
    <setting id="stripview_logo_artists" type="string">Off</setting>
    <setting id="showcaseview_display_tvshows" type="string">Posters</setting>
    <setting id="showcaseview_display_movies" type="string">Posters</setting>
    <setting id="listview_details_musicvideos" type="string">TitleAndInfo</setting>
    <setting id="showcaseview_details_movies" type="string">All_Side</setting>
    <setting id="gridview_details_sets" type="string">TitleAndInfo</setting>
    <setting id="widget8_custom_sortorder" type="string">ascending</setting>
    <setting id="stripview_details_addons" type="string">TitleAndInfo</setting>
    <setting id="widget8_custom_sortmethod" type="string">name</setting>
    <setting id="listview_display_artists" type="string">Background</setting>
    <setting id="stripview_display_sets" type="string">Posters</setting>
    <setting id="stripview_logo_programs_files" type="string">Off</setting>
    <setting id="widget9_display" type="string">Posters</setting>
    <setting id="background_slideshow_custom_path" type="string"></setting>
    <setting id="widget8_display" type="string">Posters</setting>
    <setting id="listview_flags_tvshows" type="string">All</setting>
    <setting id="listview_display_musicvideos" type="string">Background</setting>
    <setting id="widget6_custom_sortmethod" type="string">name</setting>
    <setting id="background_slideshow" type="string">Global</setting>
    <setting id="stripview_details_movies" type="string">All</setting>
    <setting id="widget5_custom_sortmethod" type="string">name</setting>
    <setting id="widget7_display" type="string">Posters</setting>
    <setting id="stripview_display_programs_folders" type="string">Posters</setting>
    <setting id="widget3_custom_sortmethod" type="string">name</setting>
    <setting id="globalsearch_tvshows_limit" type="string">30</setting>
    <setting id="listview_display_tvshows" type="string">Background</setting>
    <setting id="listview_flags_seasons" type="string">All</setting>
    <setting id="showcaseview_flags_tvshows" type="string">All</setting>
    <setting id="listview_display_seasons" type="string">Background</setting>
    <setting id="TMDbBingieHelper.Blur.Size" type="string"></setting>
    <setting id="widget6_custom_sortorder" type="string">ascending</setting>
    <setting id="billboardview_flags_sets" type="string">All</setting>
    <setting id="stripview_details_programs_folders" type="string">TitleAndInfo</setting>
    <setting id="addonbroken" type="string">off</setting>
    <setting id="gridview_details_movies" type="string">TitleAndInfo</setting>
    <setting id="listview_details_artists" type="string">TitleAndInfo</setting>
    <setting id="stripview_details_sets" type="string">All</setting>
    <setting id="visualisation_layout" type="string">Small</setting>
    <setting id="stripview_details_episodes" type="string">All</setting>
    <setting id="stripview_flags_programs_files" type="string">All</setting>
    <setting id="billboardview_flags_episodes" type="string">All</setting>
    <setting id="showcaseview_details_programs_folders" type="string">All_Side</setting>
    <setting id="widget1_custom_sortmethod_label" type="string">Name</setting>
</settings>
